<html>

  <head>
  <img src="http://i.imgur.com/Hrv0mVF.png"></img>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='jquery-bracket/jquery.bracket.min.css')}}" />
    <script type="text/javascript" src="{{url_for('static',filename='jquery-bracket/jquery.bracket.min.js')}}"></script>
  </head>
  
  <body style="font-family:Trebuchet MS">
    <h1>{{name}}</h1>
    <div id = "doubleElimination" class="demo">what</div>
    <script type="text/javascript">
var teamdict = {{teams|tojson|safe}};
var resudict = {{results|tojson|safe}};
results = resudict['results'];
console.log(teamdict);
var i = 0;
teams = teamdict['teams'];
console.log(i);
console.log(teams.length);
var temz = [];
while (i<teams.length-1) {
    var temp = [];
    temp.push(teams[i])
    temp.push(teams[i+1])
    i+=2;
    //console.log(temp)
    temz.push(temp)
    //console.log(teams[i])
}
console.log(temz)
var doubleEliminationData = {
    "teams" : temz,
    "results" : results
}
 
$(function() {
    $('div#doubleElimination.demo').bracket({
	init: doubleEliminationData})
})

    </script>
    <form method="POST">
    <input type="submit" name="logout" value="logout">
    </form>
  </body>

</html>
