<html>
  <head>
  </head>
  <img src="http://i.imgur.com/Hrv0mVF.png"></img>
 <body style="font-family:Trebuchet MS">
    Teams you are a part of:<form method="POST">
      {% for team in teams %}
      <input type="submit" name="old" value="{{team}}">
      {% endfor %}<br><br>
      Join Team:
      <select name="name0">
  		  {% for team2 in allTeams %}
  		  <option value="{{team2}}">{{team2}}</option>
  		  {% endfor %}
  		</select>
      <input type="submit" name="new" value="join">
<input type="submit" name="logout" value="logout">
    </form>
  </body>
</html>
