<html>
    <head>
          <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Sign up / Sign in</title>
<style>
    #rcorners1 {
    border-radius: 14px;
    }
</style>
    </head>
    <center>
    <body style="font-family:Trebuchet MS">
          <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    <img src="http://i.imgur.com/Hrv0mVF.png"></img>
      <table id="rcorners1" bgcolor="#ADD8E6">
	<tr>
	  <td>Login</td>
	  <td>Register</td>
	</tr>
        <tr>
	  <td>
	    {{error}}<br>
	    <form method = "POST">
	      <input type="radio" name="rights" value="admin" checked="checked"> Admin<br>
	      <input type="radio" name="rights" value="coach"> Coach<br>

		<input type="radio" name="rights" value="competitor"> Competitor<br><br>
                Username: <input type = "text" name = "user">
                <br /><br />
                Password: <input type = "password" name = "pass">
                <br /><br />
                <input type = "submit" name = "login" value = "login">
	    </form>
	  </td><td>
	    {{regerror}}<br>
	    <form method = "POST">
	        <input type="radio" name="rights" value="admin" checked="checked"> Admin<br>
	        <input type="radio" name="rights" value="coach"> Coach<br>
		<input type="radio" name="rights" value="competitor"> Competitor<br><br>
                Username: <input type = "text" name = "reguser">
	        <br /><br />
                Password: <input type = "password" name = "regpass">
	        <br /><br />
                Email: <input type= "text" name = "email">
	        <br /><br />
	        <input type = "submit" name = "register" value = "register">
	    </form>
	  </td>
	</tr>
      </table>
    </body>
    </center>
</html>
