<html>
    <head>
        <title>Sign up / Sign in</title>
    </head>
    <body>
      <table border="1">
	<tr>
	  <td>Login</td>
	  <td>Register</td>
	</tr>
        <tr>
	  <td>
	    <form method = "POST">
	        <input type="radio" name="rights" value="admin"> Admin<br>
		<input type="radio" name="rights" value="user"> User<br><br>
                Username: <input type = "text" name = "user">
                <br /><br />
                Password: <input type = "password" name = "pass">
                <br /><br />
                <input type = "submit" name = "login" value = "login">
	    </form>
	  </td><td>
	    <form method = "POST">
	        <input type="radio" name="rights" value="admin"> Admin<br>
		<input type="radio" name="rights" value="user"> User<br><br>
                Username: <input type = "text" name = "reguser">
	        <br /><br />
                Password: <input type = "password" name = "regpass">
	        <br /><br />
                Email: <input type= "text" name = "email">
	        <br /><br />
	        <input type = "submit" name = "register" value = "register">
	    </form>
	  </td>
	</tr>
      </table>
    </body>
</html>
