<html>
    <head>
    <img src="http://i.imgur.com/Hrv0mVF.png">

    </img>

      <script type="text/javascript">
	var i = 2;
	function addFields(){
	    var newdiv = document.createElement("div");
	    newdiv.innerHTML = "<input type='text' name='name"+i+"' placeholder='Competitor "+i+"'><br>";
	    i++;
	    document.getElementById("competitors").appendChild(newdiv);
          }
	</script>
    </head>
    <body style="font-family:Trebuchet MS">
        <form method="POST">
	    Team Name<br>
	    <input type="text" name="name"><br><br>

	    Competitors
	    <button id="add" value="Add" onclick="addFields(); return false;">
	      Add</button><br>

	    <div id = "competitors">
	        <div id="entry">
            <select name="name0">
              {% for comp in comps %}
              <option value="{{comp}}">{{comp}}</option>
              {% endfor %}
            </select>
            <br>
	        </div>
	        <div id="entry">
            <select name="name1">
              {% for comp in comps %}
              <option value="{{comp}}">{{comp}}</option>
              {% endfor %}
            </select><br>
		</div>
	    </div>
	    <input type="submit" value="Submit" name="create">
	    <input type="submit" name="logout" value="logout">
	</form>
    </body>

</html>
