<html>
    <head>
      <script type="text/javascript">
	var i = 2;
	function addFields(){
	    var newdiv = document.createElement("div");
	    newdiv.innerHTML = "<input type='text' name='name"+i+"' placeholder='Competitor "+i+"'><br>";
	    i++;
	    document.getElementById("competitors").appendChild(newdiv);
          }
	</script>
    </head>
    <body>
        <form method="POST">
	    Team Name<br>
	    <input type="text" name="name"><br><br>

	    Competitors
	    <button id="add" value="Add" onclick="addFields(); return false;">
	      Add</button><br>

	    <div id = "competitors">
	        <div id="entry">
		  <input type="text" name="name0" placeholder="Competitor 0"><br>
		</div>
		<div id="entry">
	          <input type="text" name="name1" placeholder="Competitor 1"><br>
		</div>
	    </div>
	    <input type="submit" value="Submit" name="create">
	    <input type="submit" name="logout" value="logout">
	</form>
    </body>
</html>
