<html>
  <head>
    <title>{{name}}</title>
  </head>
  <body style="font-family:Trebuchet MS">
    <h1>{{name}}</h1>
    <br><br>
    Team Members:<br>
    <ol>
      {% for member in members %}
      <li>{{member}}</li>
      {% endfor %}
    </ol>
    <br>
    <form method="POST">
    {% if rights == "competitor" %}
      <input type="submit" name="join" value="Join Team">
    {% elif rights == "coach" %}
      {% if requests|length == 0 %}
      No New Requests
      {% else %}
      Requests:<br>
      {% for request in requests %}
      <input type="checkbox" name="comps" value="{{request}}">{{request}}<br>
      {% endfor %}<br>
      <input type="submit" name="accept" value="Add to Team">
      <input type="submit" name="reject" value="Decline">
      {% endif %}
    {% endif %}
  </body>
</html>
