<html>

  <head>
  <img src="http://i.imgur.com/Hrv0mVF.png"></img>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='jquery-bracket/jquery.bracket.min.css')}}" />
    <script type="text/javascript" src="{{url_for('static',filename='jquery-bracket/jquery.bracket.min.js')}}"></script>
  </head>
  
  <body style="font-family:Trebuchet MS">
    <h1>{{name}}</h1>
    <div id = "doubleElimination" class="demo"></div>
    <script type="text/javascript">
var teamdict = {{teams|tojson|safe}};
var res = {{results|tojson|safe}}

var i = 0;
var teams = teamdict['teams']
var temz = [];

while (i<teams.length-1) {
    var temp = [];
    temp.push(teams[i])
    temp.push(teams[i+1])
    i+=2;
    temz.push(temp)
}

var doubleEliminationData = {
    "teams"   : temz,
    "results" : res['results']
}
 
function saveFn(data, userData) {
  data["tid"]={{tid}}
  var json = JSON.stringify(data)
  $('#saveOutput').text('POST '+userData+' '+json)
  
  $.ajax({
	 url: '/update',
	 data: json,
	 type: 'POST',
	 success:function(){console.log("hI")}		 
  })
};
 
$(function() {
    $('div#doubleElimination.demo').bracket({
	init: doubleEliminationData,
	save: saveFn,
	userData: "/update"});
});

//var tools = document.getElementsByClassName("increment");
//console.log(tools);
//tools.innerHTML = "";
//var hi = []
//hi.push(tools)
//console.log(hi[0])
//console.log(tools);
//tools.parentNode.removeChild(tools);

//$('.tools').remove();
//console.log($('.tools'))

    </script>

    <a href="../bracket/{{tid}}">View This Tournament</a><br>
    <a href="../admin">View All Tournaments</a><br>
    <a href="../newtourn">New Tournament</a><br>
    <a href="../logout">Log Out</a><br>

  </body>

</html>
